*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body{
    background-image: linear-gradient(to right,#F6FFDE, #E3F2C1, #C9DBB2);
}

header{
    font-size: 3vh;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 15vh;
    display: flex;
    background-color: rgb(59, 0, 67);
    color: white;
}

.item {
    box-shadow: 0px 0px 2px 2px black;
    width: 20%;
    position: relative;
    margin: 2vw;
    border-radius: 5px;
    display: flex;
    overflow: hidden;
    flex-direction: column;
}

img{
    width: 100%;
    height: 70%;
}

#allItems{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#allItems button{
    width: 40%;
    height: 15%;
    color: white;
    background-color: #2A2F4F;
    border: none;
    border-radius: 5px;
    position: absolute;
    right: 10px;
    cursor: pointer;
    font-size: 100%;
    font-weight: bolder;
}
#allItems button:hover{
    background-color: #363c63;
}

.itemDescription{
    display: flex;
    width:  width;
    align-items: center;
    height: 30%;
    border-top: 1px solid black;
    background-color: #917FB3;
}

.price{
    font-size: 180%;
    font-weight: 900;
    color: white;
    margin-left: 10px;
}

#goToCart{
    width: 100vw;
    height: 10vh;
    background-color: orange;
    display: flex;
    align-items: center;
    font-size: 130%;
    padding-left: 5px;
}
#goToCart span{
    font-weight: bolder;
    color: white;
    margin-right: 20px;
}
#goToCart button{
     position: absolute;
     right:  5%;
     border: none;
     border-radius: 5px;
     color: orange;
     font-size: 70%;
     width: 20%;
     padding: 3px;
     font-weight: bolder;
     cursor: pointer;
}
#goToCart button:hover{
    background-color: #363c63;
    color: white;
}

footer{
    height: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4vh;
    background-color: rgb(1, 17, 81);
    color: white;
}
footer a{
    text-decoration: underline;
}
footer a:hover{
    color: yellow;
    text-decoration: none;
}

@media (max-width: 900px){
    .item{
       width: 40%;
    }
}
@media (max-width: 500px){
     .item{
        width: 80%;
     }
     #goToCart{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

